@mixin fadeindown($duration: 1s, $distance: 20px) {
  opacity: 0;
  animation: fadeInDown $duration ease-out forwards;

  @keyframes fadeInDown {
    from {
      opacity: 0;
      transform: translateY(-$distance);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
